body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 12px;
    font-weight: normal;
  }
  
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 16px;
  }

  button {
    background-color: #3882f6;
    color: #f9faf8;
    width: fit-content;
    height: fit-content;
    border-style: none;
    border-radius: 4px;
    padding: 4px 24px;
    /* flex-grow: 0; */
  }

  .card {
    border-radius: 8px;
  }

  .header, .section {
    padding: 0px 48px;
  }

  .header,.footer {
    height: 72px;
    background: #1f2937;
    display: flex;
    align-items: center;
  }

  .header {
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
  }

  .footer {
    font-size: 12px;
    color: #e5e7eb;
    justify-content: center;
    }
.section.one {
    background: #1f2937;
    padding: 48px;
    flex: 1;
    display: flex;
    gap: 16px;
}

.section.one .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section.one .title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    flex: 1;

}

.section.one .text {
    font-size: 18px;
    color: #e5e7eb;
    flex: 1;
}

.section.one img {
    background: #6c747d;
    text-align: center;
    color: #e5e7eb;
    width: 400px;
    height: 200px;
}

.section.two {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 124px;
    gap: 24px;
}

.section.two .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.section.two .container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.card-container .card {
    border-style: solid;
    border-color: #3882f6;
    width: 150px;
    height: 150px;
  }

.card-container .card-subtext {
    width: 150px;
    text-align: center;
    color: #5b6572;
}

.section.three {
    background-color: #e5e7eb;
    padding: 48px 124px;
    display: flex;
    flex-direction: column;
}

.section.three .quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.section.three .quote-source {
    text-align: end;
    font-weight: bold;
}

.section.four {
    padding: 36px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section.four .card {
    background-color: #3882f6;
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: end;
}

.card-text .title {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.card-text .text {
    font-size: 18px;
    color: #e5e7eb;
}
.section.four .card button {
    border: 2px solid #f9faf8;
    border-radius: 6px;
}